<div ng-controller="UserCtrl">
	<div class="row-fluid" style="padding-bottom:100px;">
		<div th:if="${userViews != null }">
			<div class="row-fluid">
				<button class="btn btn-success" id = "add_new_user" data-toggle="modal" data-title="Add new user" data-target="#add-new-group-user-modal">
	    			<i class="icon-white icon-plus-sign"></i> Add New Group Member
	    		</button>
	    		<br>
	    		<br>
			</div>
			<table class="table table-striped table-bordered table-condensed"
				id="usertable">
				<thead>
					<tr>
						<th>Sr. No.</th>
						<th>Name</th>						
						<th>Groups</th>						
						<th>Phone</th>
						<th>E-mail</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr class="list-users" th:each="userView, iterationStatus : ${userViews} ">
						<td th:text="${iterationStatus.count}">1</td>
						<td th:text="${userView.user.name}">Member Name</td>
						<td>
						<span th:each="groups,itrStatus : ${userView.user.groupMemberships}">
							<span th:if="${itrStatus.count < 3}">							
								<span th:if="${itrStatus.count == 2}">,</span>
								<span th:text="${groups.group.name}"></span>
							</span>
							<span th:if="${itrStatus.count == 3}">
								, <a href="#" th:attr="data-value=${userView.user.userId}"  class="show-user-groups" data-toggle="modal" data-title="Add new user" data-target="#show-user-groups-modal">See more</a>			
							</span>
						</span>
						</td>
						<td th:text="${userView.phone.phoneNumber}">Member PhoneNumber</td>
						<td th:text="${userView.user.email}">Member EmailId</td>
						<td>
	          				<div class="btn-group">
	            				<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret"></span></a>
	            				<ul class="dropdown-menu">
					              <li><a href="#" th:attr="data-value=${userView.user.userId}"  class="add-group-user-phone-number" data-toggle="modal" data-title="Add new user" data-target="#add-group-user-phone-number-modal"><i class="icon-plus-sign"></i> Add a Number</a></li>
					              <li th:if="${parentGroup.groupId != groupId}"><a href="#" th:attr="data-value=${userView.user.userId}"  class="change-user-group" data-toggle="modal" data-title="Add new user" data-target="#change-user-group-modal"><i class="icon-edit"></i> Move to Group</a></li>
					              <li><a href="#" th:attr="data-value=${userView.user.userId}" class="add-group-user-to-new-group" data-toggle="modal" data-title="Add new user" data-target="#add-group-user-to-new-group-modal"><i class="icon-plus-sign"></i> Add to Group</a></li>
					              <li><a href="#" th:attr="data-value=${userView.user.userId}"  class="show-user-groups" data-toggle="modal" data-title="Add new user" data-target="#show-user-groups-modal"><i class="icon-eye-open"></i> Show Groups</a></li>
					              <li th:if="${parentGroup.groupId != groupId}"><a href="#" th:attr="data-value=${userView.user.userId}"  class="remove-group-user" data-toggle="modal" data-title="Add new user" data-target="#remove-group-user-modal"><i class="icon-remove"></i> Remove</a></li>
					              					              
	           					</ul>
	       					</div>
	       				</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div th:if="${userViews == null}">
			<B>No member in this group</B>
		</div>
		<!-- <div class="pagination">
			<ul>
				<li><a href="#">Prev</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div> -->
	</div>
	
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
	<div class="modal fade" id="add-new-group-user-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove"></i>
				</button>
				<h4 class="modal-title custom_align" id="HeadingUser">Add New Member</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="newGroupUserName">Name: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="newGroupUserName" required/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="newGroupUserPrimaryPhoneNumber">Phone Number:</label>
						<div class="controls">
							<div class="input-prepend input-append">
								<input type="text" class="input-xlarge" id="newGroupUserPrimaryPhoneNumber" required/>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="newGroupUserAddress" >Address:</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="newGroupUserAddress" required/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="newGroupUserEmail">Email:</label>
						<div class="controls">
							<input type="email" class="input-xlarge" id="newGroupUserEmail"/>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer ">
			<button type="button" class="btn btn-success" id="add-new-group-user">
				<i class="icon-white icon-ok"></i> Add
			</button>
			<button type="button" class="btn btn-default" id="cancel-new-group"
				data-dismiss="modal">
				<i class="icon-white icon-remove"></i> Cancel
			</button>
		</div>
	</div>
	
	<div class="modal fade" id="delete-group-user-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
		    <h4 class="modal-title custom_align" id="HeadingEdit">Delete User</h4>
		  </div>
		  <div class="modal-body">
		    <div class="fluid-row text-center">
			   	Do you want to delete user? This action cannot be undone.
		    </div>
		    <hr>
		  </div>
		</div>
		<div class="modal-footer ">
		  <button type="button" id="delete-group-user" class="btn btn-warning"><i class="icon-white icon-trash"></i>  Delete</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
		</div>
	</div>
	
	<div class="modal fade" id="add-group-user-to-new-group-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
		    <h4 class="modal-title custom_align" id="HeadingEdit">Add To Group</h4>
		  </div>
		  <div class="modal-body">
		    <div class="fluid-row">
			   	<form>
			   		<div class="control-group">
			  			<div class="fluid-row">
				    		<form class="form-horizontal">
						      <fieldset>
							  	<div class="control-group">
							      	<label class="control-label">Select Group: </label>
								  	<div class="controls">
								    	<select class="span10" id="groupForGroupMember">
				    						<option th:each="group : ${organization.groups}" th:value="${group.groupId}" th:text="${group.name}">Group</option>
				    					</select>
								  	</div>
							    </div>
							 </fieldset>
							</form>
				  		</div>
			  		</div>
			   	</form>
		    </div>
		    <hr>
		  </div>
		</div>
		<div class="modal-footer ">
		  <button type="button" id="add-group-user-to-new-group" class="btn btn-warning"><i class="icon-white icon-plus-sign"></i>  Add</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
		</div>
	</div>
	
	<div class="modal fade" id="add-group-user-phone-number-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
		    <h4 class="modal-title custom_align" id="HeadingEdit">Add To Group</h4>
		  </div>
		  <div class="modal-body">
		    <div class="fluid-row">
			   	<form>
			   		<div class="control-group">
			  			<div class="fluid-row">
				    		<form class="form-horizontal">
						      <fieldset>
							  	<div class="control-group">
							      	<label class="control-label">Add Phone Number: </label>
								  	<div class="controls">
								  		<div class="input-prepend input-append">
									    	<input type="text" id="groupUserNewPhoneNumber">
								    	</div>
								  	</div>
							    </div>
							 </fieldset>
							</form>
				  		</div>
			  		</div>
			   	</form>
		    </div>
		    <hr>
		  </div>
		</div>
		<div class="modal-footer ">
		  <button type="button" id="add-group-user-phone-number" class="btn btn-warning"><i class="icon-white icon-plus-sign"></i>  Add</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
		</div>
	</div>
	
	<div class="modal fade" id="remove-group-user-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
		    <h4 class="modal-title custom_align" id="HeadingEdit">Remove User From Group</h4>
		  </div>
		  <div class="modal-body">
		    <div class="fluid-row text-center">
			   	Do you want to remove user from this group?
		    </div>
		    <hr>
		  </div>
		</div>
		<div class="modal-footer ">
		  <button type="button" id="remove-group-user" class="btn btn-warning"><i class="icon-white icon-trash"></i>  Remove</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
		</div>
	</div>
	<div class="modal fade" id="show-user-groups-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
		    <h4 class="modal-title custom_align" id="HeadingEdit">Show Groups</h4>
		  </div>
		  <div class="modal-body">
		    <div class="fluid-row text-center">
				<table class="table table-striped table-bordered table-condensed"
				id="usertable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Group</th>
						</tr>
					</thead>
					<tbody>
						<tr class="list-users" ng-repeat="group in groupList">
							<td>{{group.id}}</td>
							<td>{{group.name}}</td>
						</tr>
					</tbody>
				</table>
		    </div>
		    <hr>
		  </div>
		</div>
	</div>
	
	<div class="modal fade" id="change-user-group-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
		    <h4 class="modal-title custom_align" id="HeadingEdit">Change Group</h4>
		  </div>
		  <div class="modal-body">
		    <div class="fluid-row">
			   	<form>
			   		<div class="control-group">
			  			<div class="fluid-row">
				    		<form class="form-horizontal">
						      <fieldset>
							  	<div class="control-group">
							      	<label class="control-label">Select Group: </label>
								  	<div class="controls">
								    	<select class="span10" id="changeUserGroup">
				    						<option th:each="group : ${organization.groups}" th:value="${group.groupId}" th:text="${group.name}">Group</option>
				    					</select>
								  	</div>
							    </div>
							 </fieldset>
							</form>
				  		</div>
			  		</div>
			   	</form>
		    </div>
		    <hr>
		  </div>
		</div>
		<div class="modal-footer ">
		  <button type="button" id="change-user-group" class="btn btn-warning"><i class="icon-white icon-edit"></i>  Add</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
		</div>
	</div>
</div>

