<div ng-controller="TextMessageCtrl">
	<div class="row-fluid">
		<table class="table table-striped table-bordered table-condensed"
			id="usertable">
			<thead>
				<tr>
					<th>Time</th>
					<th>User Name</th>
					<th>Message</th>
					<th>Comment</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-users" th:each="textMessage : ${message} ">
	
					<td th:attr="id='inboxTextMessageTime'+${textMessage.messageId}" th:text="${textMessage.Time}">Time</td>
					<td th:attr="id='inboxTextMessageName'+${textMessage.messageId}" th:text="${textMessage.user.name}">User Name</td>
					<td th:attr="id='inboxTextMessageContent'+${textMessage.messageId}" th:text="${textMessage.textContent}">User Name</td>
					<td>
						<span>
							<input type="text" th:attr="id='inboxTextMessageComment'+${textMessage.messageId}" th:value="${textMessage.comments}">
						</span>
						<span>
							<a href="#" class="inboxTextMessageSaveButton" th:attr="id='inboxTextMessageSaveButton '+${textMessage.messageId}">
								<i class="icon-pencil"></i>
								<!-- <i class="icon-floppy-disk" aria-hidden="true"></i> -->
							</a>
						</span>
					</td>
					<td>
						<p data-placement="top" data-toggle="tooltip" title="Edit">
							<button th:value="${textMessage.messageId}" class="view-inbox-text-message btn btn-primary"
								data-title="View" data-toggle="modal" data-target="#view-inbox-text-message-modal">
								<i class="icon-white  icon-file"></i> View
							</button>
						</p>
					</td>
					<!-- Hidden Fields -->
					<input type="hidden" th:attr="id='inboxTextMessageOrderId'+${textMessage.messageId}" th:value="${textMessage.order.orderId}">
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="modal fade" id="view-inbox-text-message-modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
	 	<div class="modal-dialog">
	    	<div class="modal-header">
	      		<button type="button" class="close inbox-text-modal-close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
	      		<h4 class="modal-title custom_align" id="HeadingEdit">Accept Order</h4>
	    	</div>
	    	<div class="modal-body">
	      		<div class="fluid-row">
	      			<div class="span4">
		      			<div><b>Time: </b></div>
		      			<div id="inboxTextTime"></div>
	      			</div>	
	      			<div class="span3">
	      				<div><b>Name: </b></div>
	      				<div id="inboxTextName"></div>
	      			</div>
	      			<div class="span5">
	      				<div><b>Comment: </b></div>
	      				<textarea id="inboxTextComment"></textarea>
	      			</div>
	      		</div>
	      		<div class="fluid-row">
	      			<div class="span12">
	      				<div><b>Content: </b></div>
	      				<div id="inboxTextContent"></div>
	      			</div>
	      		</div>
	      		<hr>
	      		<form class="form"> 
			  		<div class="control-group">
			  			<div class="fluid-row">
				    		<div class="span3">
				    			<div>Product</div>
				    			<div>
				    				<select class="span10" id="inboxTextProductName">
				    					<option th:each="product : ${products}" th:value="${product.productId} + ' ' + ${product.unitRate}" th:text="${product.name}">Product</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Preset Quantity</div>
				    			<div>
				    				<select class="span7" id="inboxTextProductQuantity">
				    					<option th:each="q : ${presetQuantity}" th:value="${q.quantity}" th:text="${q.quantity}">Quantity</option>
				    					<option value="other">other</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Custom Quantity</div>
				    			<div>
				    				<input class="span6" type="text" id="inboxTextCustomQuantity" disabled>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<br>
				    			<button value="0" id="add-inbox-text-order-items" class="btn btn-primary"> Add</button>
				    		</div>
				  		</div>
			  		</div>
		  		</form>
		  		<div>
		  			<div class="fluid-row">
						<div class="span3"></div>
						<div class="span3"><b>Product Name</b></div>
						<div class="span3"><b>Quantity</b></div>
						<div class="span2"><b>Rate (In ₹)</b></div>
					</div>
		  		</div>
		  		<div id="inboxTextOrderItems"></div>
	  		</div>
	  	</div>
	  	<!-- Hidden Fields -->
	  	<input type="hidden" id="inboxTextOrderId">
	  <div class="modal-footer ">
	    	<button type="button" id = "accept-inbox-text-order" class="btn btn-warning"><i class="icon-white icon-ok"></i>  Accept</button>
	    	<button id="confirm-reject-inbox-text-order" class="btn btn-primary" data-title="Reject" data-toggle="modal" data-target="#reject-inbox-text-order-modal"><i class="icon-white  icon-trash"></i> Reject</button>
	    	<button type="button" class="btn btn-default inbox-text-modal-close" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
	  </div>
	</div>
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
	
	<div class="modal fade" id="reject-inbox-text-order-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
	      <h4 class="modal-title custom_align" id="HeadingEdit">Reject Message</h4>
	    </div>
	    <div class="modal-body">
	      <div class="fluid-row voice-center">
	      	Do you want to reject this message?
	      </div>
	      <hr>
	    </div>
	  </div>
	  <div class="modal-footer ">
	    <button type="button" id="reject-inbox-text-order" class="btn btn-warning"><i class="icon-white icon-trash"></i>  Reject</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
	  </div>
	</div>
</div>