<div ng-controller="VoiceMessageCtrl">
	<div class="row-fluid">
	
		<div th: if="${message !=null}">
			<table class="table table-striped table-bordered table-condensed"
				id="usertable">
				<thead>
					<tr>
						<th>Time</th>
						<th>Name</th>
						<th>Message</th>
						<th>Comment</th>
	
					</tr>
				</thead>
				<tbody>
					<tr class="list-messages" th:each="voiceMessage : ${message} ">
						<td th:text="${voiceMessage.time}">Time</td>
						<td th:text="${voiceMessage.user.name}">User name</td>
						<!-- 	<td th:text="${voiceMessage.voice.url}">Message Url</td> -->
						<td>
							<a th:href="${voiceMessage.voice.url}" target="_blank">Play Voice Message</a>
						</td>
						<td>
							<span>
								<input type="text" th:attr="id='feedbackVoiceMessageComment'+${voiceMessage.messageId}" th:value="${voiceMessage.comments}">
							</span>
							<span>
								<a href="#" class="feedbackVoiceMessageSaveButton" th:attr="id='feedbackVoiceMessageSaveButton '+${voiceMessage.messageId}">
									<i class="icon-pencil"></i>
									<!-- <i class="icon-floppy-disk" aria-hidden="true"></i> -->
								</a>
							</span>
						</td>
						<!--
						<td>
							<input type="text" class="form-element" th:attr="value=${voiceMessage.comments}">
							</span>
						</td>
						<td>
							<p data-placement="top" data-toggle="tooltip" title="Edit">
								<button class="open-edit-modal btn btn-primary btn-xs"
									data-title="Edit" data-toggle="modal" data-target="#editiComment">
									<i class="icon-white  icon-file"></i> Edit
								</button>
							</p>
						</td>  -->
					</tr>
				</tbody>
			</table>
		</div>
	
	
		<div th:if="${message == null}">
			<B>No New Message </B>
	
		</div>
	
	
	</div>
	
	
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
</div>