<div class="row-fluid">
	<div th: if="${message !=null}">
		<table class="table table-striped table-bordered table-condensed"
			id="usertable">
			<thead>
				<tr>
					<th>Time</th>
					<th>Broadcast</th>
					<th>Name</th>
					<th>Response</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-messages" th:each="voiceMessage : ${message} ">
					<td th:text="${voiceMessage.broadcast.broadcastedTime}">Time</td>
					<td>
						<a th:href="${voiceMessage.broadcast.voice.url}" target="_blank">Play Voice Message</a>
					</td>
					<td th:text="${voiceMessage.user.name}">User name</td>
					<!-- 	<td th:text="${voiceMessage.voice.url}">Message Url</td> -->
					<td th:if="${voiceMessage.response == true}">
						Yes
					</td>
					<td th:if="${voiceMessage.response == false}">
						No
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div th:if="${message == null}">
		<B>No New Message </B>

	</div>


</div>


<!-- /.modal-content -->
<!-- /.modal-dialog -->